<h1 class="top-header">Admin Lounge</h1>

<%= link_to "Users", admin_users_path %>
<%= link_to "News & Events", admin_events_path %>
<%= link_to "Tuition", admin_tuitions_path %>
<%= link_to "Forms", admin_forms_path %>
<%= link_to "Posts", faculty_posts_path %>

Welcome to Chaya Mushka's Admin Lounge. Please enjoy your stay.