<h1 class="top-header">Admin Lounge</h1>

<blockquote>
	<p>Welcome to Chaya Mushka's Admin Lounge. Please enjoy your stay!</p>
	<small>The Administrative Office</small>
</blockquote>

<div class="row-fluid">

	<div class="span3">
		<h3>Links</h3>

		<ul id="admin-menu">
			<li><%= link_to "Users", admin_users_path %></li>
			<li><%= link_to "News & Events", admin_events_path %></li>
			<li><%= link_to "Tuition", admin_tuitions_path %></li>
			<li><%= link_to "Forms", admin_forms_path %></li>
			<li><%= link_to "Posts", faculty_posts_path %></li>
		</ul>
	</div>

	<div class="span9">
		<h3>Message Board</h3>

		<%= render "table" %>
	</div>
</div>