<%= form_for [:admin, @form], html: { multipart: true } do |f| %>

	<% if @form.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@form.errors.count, "error") %>
				prohibited this form from being saved:</h2>

			<ul>
				<% @form.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :url, "URL" %>
		<%= f.text_field :url %>
	</p>

	<p>
		<%= f.label :asset, "Form Upload" %>
		<%= f.file_field :asset %>
	</p>

	<% if @form.new_record? %>
		<%= f.submit "Add Form", class:"btn" %>
	<% else %>
		<%= f.submit "Update Form", class:"btn" %>
	<% end %>
<% end %>
