<%= form_for [:admin, @user] do |f| %>

	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %>
				prohibited this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name %>
	</p>

	<p>
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>

	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation, "Password Confirmation" %>
		<%= f.password_field :password_confirmation %>
	</p>

	<p>
		<%= f.label :shutterfly_url, "Shutterfly URL" %>
		www.shutterfly.com/<%= f.text_field :shutterfly_url %>
	</p>

	<p>
		<%= f.check_box :faculty %>
		<%= f.label :faculty, "Faculty?" %>
	</p>

	<p>
		<%= f.check_box :admin %>
		<%= f.label :admin, "Admin?" %>
	</p>

	<%= f.submit class:"btn" %>

<% end %>
