<!DOCTYPE html>
<html>
<head>
  <title>Chaya Mushka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>

	<div class="wrapper">

		<% flash.each do |type, message| %>
			<div class="flash" id="<%= type %>">
				<%= message %>
			</div>
		<% end %>


		<div class="all-nav">
			<%= render "layouts/navbar" %>
		</div>


		<div class="main-content">
			<h1 class="top-header">Faculty Lounge</h1>

			<blockquote>
				<p>Welcome to Chaya Mushka's Faculty Lounge. Please enjoy your stay.</p>
				<small>The Administrative Office</small>
			</blockquote>

			<div class="row-fluid">
				<div class="span3">
					<h3>Links</h3>

					<ul class="faculty-menu">
						<li><%= link_to "Message Board", faculty_root_path %></li>
					</ul>
				</div>

				<div class="span9">
					<%= yield %>
				</div>
			</div>
		</div>

		<div class="all-footer">
			<%= render "layouts/footer" %>
		</div>

	</div>

</body>
</html>
